<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/delivery_in_transit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPolicodeLabs"
        tools:targetApi="31">
        <activity
            android:name=".Main_Negocio"
            android:exported="false"
            android:label="@string/title_activity_main_negocio"
            android:theme="@style/Theme.ProyectoPolicodeLabs.NoActionBar" />
        <activity
            android:name=".Main_Repartidor"
            android:exported="false"
            android:label="@string/title_activity_main_repartidor"
            android:theme="@style/Theme.ProyectoPolicodeLabs.NoActionBar" />
        <activity
            android:name=".Inicio_Aplicacion"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessDashboardActivity"
            android:exported="false" />
    </application>

</manifest>